server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/twitterdb
    username: twitter
    password: twitter123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: DEBUG
